<div class="about-content">
    <div class="intro">
        <div class="text">
            <p>Frank Etoundi is a product designer and web developer currently living in Munich, Germany.</p>
        </div>
        <div class="profile">
        </div>
    </div>
    <div class="summary">
        <p>Born in 1991 in Yaoundé (Cameroon), he is man of many crafts, including <strong>graphic design, UX & UI design and web development.</strong></p>
        <p>Designing products professionally since 2010, but has been contemplating the design of this complex world since 1991.</p>
        <p>Throughout his professional experience, Frank has been fortunate enough to work on several projects, with amazing people worldwide.</p>
    </div>
    <div class="facts">
        <h2>Some facts</h2>
        <ul>
            <li><strong>2015 - Masters of Science in Information Technology</strong> from Leeds Beckett University (United Kingdom)</li>
            <li><strong>2013 - Bachelor of Arts in Graphic Design </strong> from Coventry University (United Kingdom) </li>
            <!--<li>Native English and French speaker, basic written and spoken German, fluent in <span class="wrapper"><a href="#0">Ewondo</a><span class="tooltip"><%= render 'layouts/ewondo' %></span></span>.</li>-->
            <li>Native English and French speaker, basic written and spoken German, fluent in <a href="#0" class="tooltip-item">Ewondo</a><span class="tooltip-pop"><%= render 'layouts/ewondo' %></span>.</li>
            <li>Elder brother of 8 siblings (7 girls, 1 boy)</li>
            <li>Plays rugby and football but is awfull at basketball</li>
            <li>Anime and manga lover. Read around <a href="#0" class="tooltip-item">3000 mangas chapters</a><span class="tooltip-pop"><%= render 'layouts/mangalist' %></span>
            and watched over <a href="#0" class="tooltip-item">4000 animes episodes</a><span class="tooltip-pop"><%= render 'layouts/animelist' %></span>
            </li>
            <li>Completed 2 Books in 2016, <a href="#0" class="tooltip-item">and reading</a> 5 others. <div class="tooltip-pop"><iframe src="readbooks" class="mal" ></iframe></div>
            </li>
        </ul>
    </div>
    <div class="playlist">
        <h2>Now playing</h2>
        <div class="embed">
            <iframe scrolling="no" frameborder="0" allowTransparency="true" src="http://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=playlist&id=1010608951&app_id=1" height="350"></iframe>
        </div>
    </div>
    <div class="overlay">
        <div id="photos">
            <%= image_tag("family/mothers.jpg") %><%= image_tag("family/us-est.jpg") %><%= image_tag("family/father.jpg") %><%= image_tag("family/nadya.jpg") %><%= image_tag("family/she-room.jpg") %><%= image_tag("family/she-miss-li.jpg") %><%= image_tag("family/cynthia.jpg") %><%= image_tag("family/frank_guila.jpg") %><%= image_tag("family/grad.jpg", class: "hide") %><%= image_tag("family/goku.jpg", class: "hide") %>
        </div>
    </div>
</div>
