<%= form_for @project, html: { multipart: true } do |f| %>
    <div class="form-body">
        <% if @project.errors.any? %>
            <div class="row twelve column">
                <div id="error_explanation">
                    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
                    <ul>
                        <% @project.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="twelve column">
                <%= f.label :title %>
                <%= f.text_field :title %>
            </div>
        </div>
        <div class="row">
            <div class="twelve column">
                <%= f.label :description %>
                <%= f.text_area :description %>
            </div>
        </div>
        <div class="row">
            <div class="one-half column">
                <%= f.label :published_on %>
                <%= f.date_field :published_on, class: 'u-full-width' %>
            </div>
            <div class="one-half column">
                <%= f.label :category_id %>
                <%= f.collection_select(:category_id, Category.project_group.order("lower(title) ASC"), :id, :title,  { include_blank: "Select a category" }) %>
            </div>
        </div>
        <div class="row">
            <div class="one-half column">
                <%= f.label :location %>
                <%= f.text_field :location %>
            </div>
            <div class="one-half column">
                <%= f.label :cover_image %>
                <%= f.file_field :image %>
            </div>
        </div>
        <div class="row">
            <div class="twelve column">
                <%= f.label :content %>
                <%= f.text_area :content, class: "tinymce" %>
            </div>
        </div>
        <div class="row">
            <div class="twelve column">
                <%= f.check_box :draft %>
                <small>Project is a draft</small>
            </div>
        </div>
        <div class="row">
            <div class="twelve column">
                <%= f.submit %>
            </div>
        </div>
    </div>
<% end %>
<%= tinymce %>
<%= tinymce_assets %>

