<div class="page-title">
  <h1>Edit <%= @project.title %></h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Index', projects_path %>
